@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Shared Styles */
.primary_text {
  color: #fd6e0a;
}
.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
  color: white;
}
.container {
  max-width: 1140px;
  margin-inline: auto;
}

/* Header Style */
.header {
  background-color: #fff8f3;
}
nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  gap: 50px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
