@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Shared Styles */
p {
  color: #757575;
}
.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
  color: white;
  border: 0;
}
.container {
  max-width: 1140px;
  margin-inline: auto;
}

/* Header Style */
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.single_letter_color {
  color: #fd6e0a;
}
nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav > h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  gap: 50px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
.banner {
  display: flex;
  align-items: center;
}

.banner_info {
  width: 50%;
}
.banner_info h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner_info h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.banner_info p {
  margin-bottom: 30px;
}
.banner_info button {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 700;
}
.banner_info button:last-child {
  border: 1px solid #fd6e0a;
  background: transparent;
  color: #fd6e0a;
}
.profil_pic {
  width: 584px;
  position: relative;
  left: 200px;
}
