@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Shared Styles */
.container {
  max-width: 1140px;
  margin-inline: auto;
}
p {
  color: #757575;
}
.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
  color: white;
  border: 0;
}
h2 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.banner_info button,
.resume_section_btn button {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 700;
}

/* Header Style */
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.single_letter_color {
  color: #fd6e0a;
}
nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav > h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  gap: 50px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

/* banner Style */

.banner {
  display: flex;
  align-items: center;
}

.banner_info {
  width: 50%;
}
.banner_info h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner_info h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.banner_info p {
  margin-bottom: 30px;
}

.banner_info button:last-child {
  border: 1px solid #fd6e0a;
  background: transparent;
  color: #fd6e0a;
}
.profile_pic {
  width: 584px;
  position: relative;
  left: 200px;
}
/*  About me section Style  */
.about_me {
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
  padding: 130px 150px;
  text-align: center;
}

.about_me p {
  margin: 40px 0;
}
.about_me_btm_section {
  display: flex;
  justify-content: space-between;
}
.about_me_btm_info h4 {
  color: #757575;
}
.about_me_btm_info h3 {
  color: #474747;
}

/* Skill Section Style */
.skills {
  margin-top: 130px;
  text-align: center;
}

.skills > p {
  padding: 0 150px;
  margin: 40px 0;
}
.skill_btm_section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skill_btm_info {
  text-align: left;
  padding: 30px 35px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_btm_info h3 {
  margin: 20px 0;
}

/* Resum section style */
.educations_experience_area {
  display: flex;
  gap: 24px;
}
.resume_section h2 {
  margin: 130px 0 100px;
  text-align: center;
}
.educations_area > h3,
.experience_area > h3 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.degree,
.role {
  border-bottom: 1px solid #d1d1d1;
  padding-right: 80px;
  margin-top: 30px;
}
.degree:last-child,
.role:last-child {
  border-bottom: none;
}

.degree > h4,
.role > h4 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.degree > h5,
.role > h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.degree > p,
.role > p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}
.resume_section_btn {
  margin: 50px 0 110px;
  display: flex;
  justify-content: center;
}

/* Footer Style */
.btm_container {
  background-color: #fff8f3;
}
.btm_info {
  display: flex;
  gap: 100px;
  padding: 130px 0;
}
.btm_info h2 {
  margin-bottom: 25px;
}
.btm_left_info {
  width: 50%;
}
.btm_right_info {
  width: 50%;
}
.btm_left_info p {
  margin: 20px 0 30px;
}
.btm_left-icon {
  display: flex;
  gap: 24px;
}
.contact input,
textarea {
  display: block;
  width: 100%;
  padding: 18px 35px;
  color: #757575;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 0;
}
.btm_right_info button {
  font-size: 20px;
}
